<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Search Stocks</h1>
      
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Find Stocks to Add to Your Portfolio</h5>
        </div>
        <div class="card-body">
          <%= form_with url: search_stocks_path, method: :get, remote: true do |form| %>
            <div class="input-group mb-3">
              <%= form.text_field :search, placeholder: "Search for company name or symbol (e.g., Apple, AAPL)...", 
                  class: "form-control", value: params[:search] %>
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i> Search
              </button>
            </div>
          <% end %>

<%= render 'stocks/results' %>
        </div>
      </div>

      <div class="mt-4">
        <%= link_to 'Back to Portfolio', stocks_path, class: 'btn btn-secondary' %>
        <%= link_to 'Add Stock Manually', new_stock_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
